/* Add your own CSS code below */
.heart{
    color:#c85308;
}
@media screen and (min-width:992px) {
  .hero__title{
    font-size:larger;
  }
}

@media screen and (min-width:767px) {
    .site-header{
        display: flex;
        justify-content: space-between;
    }
    .views{
        display: flex;
        align-items: center;
    }
    .view-list__item{
        margin-left: 15px;
    }
   .main-nav__list{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
}
.views a{
    margin: 0 25px;
}
.view a:last-child{
    margin-left: 50px;
}

}
.main-article{
    max-width: 50em;
    
}
